@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap');

html{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

.container{
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.card{
    height: fit-content;
    background-color: white;
    border-radius: 10px;
}

.card .cover-image{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .infos{
    padding: 30px;
}

.card .infos h2{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
}

.card .infos .text{
    font-weight: 500;
    color: hsl(214, 17%, 51%);
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.card .infos .profile{
    width: 100%; 
    display: flex;
    justify-content: flex-start;
}

.card .infos .profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.card .infos .profile h2{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card .infos span{
    font-size: 13px;
    color: hsl(214, 17%, 51%);
}

.card .infos .share-button{
    padding: 7px;
    border-radius: 50%;
    border: none;
    align-self: center;
}

.card .infos .share-button:hover{
    cursor: pointer;
}

.card .share-socials{
    width: 100%;
    background-color: hsl(217, 19%, 35%);
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.card .active-state{
    display: none;
}

.card .share-socials p{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.card .share-socials .icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.card .share-socials .social-icons{
    margin-right: 10px;
    cursor: pointer;
}

.card .share-socials .social-icons:first-child{
    margin-left: 10px;
}

.card .share-socials button:hover{
    cursor: pointer;
    
}

#close{
    padding: 4px;
    border-radius: 50%;
    border: none;
    margin-left: 50px;
    display: none;
}

